.flex-container
{	
	display: flex;
	flex-direction: row;
	border: 10px solid rgba(133, 213, 233, 0.4);
	padding: 10px;
	flex-wrap: wrap;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: white;
	background-image: url(./assets/img/meeting-room-kuwait-city.jpg); background-repeat: no-repeat; background-size: cover;
	align-content: space-between;


}

.rss
{
	font-family: cursive;
	letter-spacing: 3px;
}

h1
{
	background-color: aqua;
	height: min-content;
	flex-basis: 100%;
	text-align: center;
}

.about-me
{
	background-color: blueviolet;
	flex-grow: 1;
}

h2
{
	margin: 0 0 5px;
	background-color: violet;
}

table
{
	margin: 0 0 15px;
	background-color: violet;
}

th
{
	background: rgb(248, 246, 123);
	border: 2px solid rgba(129, 126, 126, 0.5);
	border-radius: 10px;
}

td
{
	border: 2px solid rgba(129, 126, 126, 0.5);
	border-radius: 10px;
	background: rgb(133, 213, 233);
}

aside
{
	font-family: Georgia, 'Times New Roman', Times, serif;
	background: rgba(129, 126, 126, 0.5);
}

a
{
	color: rgb(133, 213, 233);
}

a:hover 
{
	color: rgb(129, 126, 126);
}

.logo
{
	width: 30%;
}

.foto
{
	width: 200px;
	height: 200px;
	border-radius: 30%;
}

.flex-container2
{
	
}

nav
{
	background-color: thistle;
}

footer
{
	background-color: tomato;
}

.skills
{
	background-color: chartreuse;
	flex-grow: 10;
	margin: 0 0 15px;
}

.html-logo
{
	width: 50px;
	height: 50px;
}

.css-logo
{
	width: 50px;
	height: 50px;
}