.flex-container
{	
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: space-between;
	min-width: 1440px;
	max-width: 1440px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 10px;
	font: normal normal normal 16px/1.2 arial;
	border: 10px solid rgba(133, 213, 233, 0.4);
	background-color: white;
	background-image: url(./assets/img/meeting-room-kuwait-city.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

html
{
	scroll-behavior: smooth; 
}

h1
{
	background-color: rgba(129, 126, 126, 0.6);
	height: min-content;
	flex-basis: 100%;
	text-align: center;
	border-radius: 50%;
}

.div-skills
{
	flex-grow: 1;
	flex-basis: 50%;
}

.skills-list
{
	list-style: square;
}

.skills
{
	color: white;
	text-decoration-color: aqua;
	font-size: 1.2em;
}

.about-me
{
	background-color: rgba(129, 126, 126, 0.7);
	padding: 10px;
	height: 200px;
	align-self: flex-end;
	border-radius: 20%;
	margin-right: 10px;
}

.rss1
{
	font-family: cursive;
	letter-spacing: 3px;
	color: red;
}

.rss2
{
	font-family: cursive;
	letter-spacing: 3px;
	color: blue;
}

.rss3
{
	font-family: cursive;
	letter-spacing: 3px;
	color: green;
}

.foto
{
	width: 200px;
	height: 200px;
	border-radius: 30%;
	border: 10px solid rgba(129, 126, 126, 0.2);
}

h2
{
	margin: 0 0 5px;
}

.table
{
	margin: 0 0 15px;
}

th
{
	background: rgb(248, 246, 123);
	border: 2px solid rgba(129, 126, 126, 0.5);
	border-radius: 10px;
}

td
{
	border: 2px solid rgba(129, 126, 126, 0.5);
	border-radius: 10px;
	background: aqua;
	opacity: 0.7;
}

.nav-list
{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.nav-link
{
	padding: 0 20px;
	line-height: 50px;
	cursor: pointer;
	text-decoration-line: none;
	color: black;
	font-size: 1.5em;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 10px;
	padding: 10px;
	border-radius: 50%;
}

.code
{
	background-color: rgba(129, 126, 126, 0.5);
	font-family: Georgia, 'Times New Roman', Times, serif;
	width: max-content;
	border-radius: 5%;
	padding: 10px;
	margin-bottom: 10px;
}

.flex-footer
{
	display: flex;
	justify-content: space-evenly;
	max-width: 1440px;
	min-width: 1440px;
}

.add-info
{
	background-color: rgba(129, 126, 126, 0.5);
	text-align: center;
	border-radius: 25%;
	min-width: 500px;
	padding: 10px;
}

.add-info-list
{
	list-style: none;
}

.addinfo-link
{
	color: aqua;
	text-decoration-color: white;
}

.addinfo-link:hover 
{
	color: rgb(248, 246, 123);
}

.rss-logo
{
	width: 30%;
	opacity: 0.5;
	background-color: rgba(129, 126, 126, 0.5);
	border-radius: 25%;
	padding: 20px;
}