.flex-container
{	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-around;
	min-width: 850px;
	max-width: 1440px;
	justify-content: space-between;
	position: relative;
	min-height: 100vh;
	margin: 0 auto;
	border: 10px solid rgba(133, 213, 233, 0.4);
	padding: 10px;
	font: normal normal normal 16px/1.2 arial;
	background-color: white;
	background-image: url(./assets/img/meeting-room-kuwait-city.jpg);
	background-repeat: no-repeat; background-size: cover;
}

html
{
	scroll-behavior: smooth; 
}

@media (max-width: 768px)
{
	main
{
	width: 100%;
}
}

h1
{
	background-color: aqua;
	height: min-content;
	flex-basis: 100%;
	text-align: center;
}

.div-skills
{
	flex-grow: 1;
}

.Skills
{
	color: white;
	text-decoration-color: aqua;
	font-size: 1.5em;
}

.about-me
{
	background-color: rgba(129, 126, 126, 0.7);
	padding: 10px;
	height: 200px;
	align-self: flex-end;
	border-radius: 20%;
	margin-right: 10px;
	position:sticky;
}

.rss1
{
	font-family: cursive;
	letter-spacing: 3px;
	color: red;
}

.rss2
{
	font-family: cursive;
	letter-spacing: 3px;
	color: blue;
}

.rss3
{
	font-family: cursive;
	letter-spacing: 3px;
	color: green;
}

.foto
{
	width: 200px;
	height: 200px;
	border-radius: 30%;
	border: 10px solid rgba(129, 126, 126, 0.2);
}

h2
{
	margin: 0 0 5px;
	background-color: violet;
}

table
{
	margin: 0 0 15px;
	background-color: violet;
}

th
{
	background: rgb(248, 246, 123);
	border: 2px solid rgba(129, 126, 126, 0.5);
	border-radius: 10px;
}

td
{
	border: 2px solid rgba(129, 126, 126, 0.5);
	border-radius: 10px;
	background: rgb(133, 213, 233);
}

aside
{
	font-family: Georgia, 'Times New Roman', Times, serif;
	background: rgba(129, 126, 126, 0.5);
}

nav
{
	background-color: thistle;
}

.addinfo-link
{
	color: aqua;
	text-decoration-color: white;
}

.addinfo-link:hover 
{
	color: rgb(248, 246, 123);
}

.logo
{
	width: 30%;
}

footer
{
	background-color: tomato;
}

.html-logo
{
	width: 50px;
	height: 50px;
}

.css-logo
{
	width: 50px;
	height: 50px;
}

.nav-list
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}

.nav-link
{
	padding: 0 20px;
	line-height: 50px;
	transition: .3s;
	cursor: pointer;
	text-decoration-line: none;
	color: black
	transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
  font-size: 30px;
	;
}
