.flex-container
{	
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: flex;
	flex-direction: column;
	border: 10px solid rgba(133, 213, 233, 0.4);
	padding: 10px;
	flex-wrap: wrap-reverse;
	min-width: 700px;
	justify-content: space-between;
}

.rss
{
	font-family: cursive;
	letter-spacing: 3px;

}

h1
{
	text-align: center;
}

div
{
width: 700px;
}

h2
{
	margin: 0 0 5px;
	width: max-content;
}

table
{
	margin: 0 0 15px;
}

th
{
	background: rgb(248, 246, 123);
	border: 2px solid rgba(129, 126, 126, 0.5);
	border-radius: 10px;
}

td
{
	border: 2px solid rgba(129, 126, 126, 0.5);
	border-radius: 10px;
	background: rgb(133, 213, 233);
}

aside
{
	font-family: Georgia, 'Times New Roman', Times, serif;
	background: rgba(129, 126, 126, 0.5);
	width: 650px;
	border-radius: 10%;
}

a
{
	color: rgb(133, 213, 233);
}

a:hover 
{
	color: rgb(129, 126, 126);
}

.logo
{
	width: 30%;
}

.foto
{
	width: 40%;
}

.flex-container2
{
	display: flex;
	flex-direction: row;
	background-color: blue;
	height: 200px;
	justify-content: space-between;
	
}

nav
{

}